.gradient-left, .gradient-right {
    position: absolute;
    left: 0;
    width: 100%;
    height: 55px;
    @include bp(medium) {
        display: none;
    }
}

.gradient-left {
    top: 0px;
    background-image: linear-gradient($FilterBlack, $FilterGrey);
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.gradient-right {
    bottom: 0px;
    background-image: linear-gradient($FilterGrey, $FilterBlack);
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.page-container {
    @include bp(medium) {
        margin-top: 74px;   
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.desktop {
    @include bp(small) {
        display: none;
    }
}

.mobile {
    @include bp(medium) {
        display: none;
    }
}

.no-decor {
    text-decoration: none;
}

.pf-din {
    font-family: 'PF Din';
}

.button-fx {
    transition: all .4s;
    &:hover {
        filter: brightness(1.3);
    }
    &:active {
        filter: brightness(0.7);    
        transform: translate(1px, 1px);
        outline: none;
    }
}

.button-fx-mobile {
    transition: all .4s;
    &:hover {
        filter: brightness(1.3);
    }
    &:active {
        filter: brightness(0.7);
        outline: none;
    }
}

.mt16 {
    margin-top: 16px;
}

.mt30 {
    margin-top: 30px;
}

.mb72 {
    margin-bottom: 72px;
}