// Colors
$FilterWhite: #FAFAFA;
$FilterGreyLight: #CECECE;
$FilterGrey: #363636;
$FilterGreyDark: #292929;
$FilterBlack: #1A1A1A;
$FilterGold: #DEC05F;
$FilterRed: #D1201E;
$FilterPink: #E1AB99;

// Typography
@font-face {
    font-family: 'Harriet';
    font-weight: 300;
    src: url('/fonts/HarrietDisplayLight.otf') format('opentype');
}

@font-face {
    font-family: 'Harriet';
    font-weight: 500;
    src: url('/fonts/HarrietDisplayRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Harriet';
    font-weight: 700;
    src: url('/fonts/HarrietDisplayBold.otf') format('opentype');
}

@font-face {
    font-family: 'Harriet Text';
    font-weight: 500;
    src: url('/fonts/HarrietTextRegular.otf') format('opentype');
}

@font-face {
    font-family: 'PF Din';
    font-weight: 500;
    src: url('/fonts/PfDinMedium.otf') format('opentype');
}

@font-face {
    font-family: 'PF Din';
    font-weight: 400;
    src: url('/fonts/PfDinRegular.otf') format('opentype');
}

@font-face {
    font-family: 'PF Din';
    font-weight: 300;
    src: url('/fonts/PfDinLight.otf') format('opentype');
}

