.navbar {
    background-color: $FilterBlack;
    border-bottom: 2px solid $FilterPink;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    @include bp(medium) {
        position: fixed;
        top: 0;
        z-index: 5;
    }
}
.navbar-container {
    width: 100%;
    max-width: 1280px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bp(medium) {
        height: 72px;
    }
}

.logo {
    fill: white;
    width: 80px;
    height: 28px;
    margin-left: 13px;
    @include bp(medium) {
        width: 113px;
        height: 40px;
        margin-left: 47px;
    }

}

.log-in {
    color: $FilterPink;
    margin-right: 20px;
    display: flex;
    align-items: center;
    @include bp(medium) {
        margin-right: 59px;
    }

    p {
        color: $FilterPink;
        text-transform: uppercase;
        font-family: 'PF Din';
        font-size: 16px;
        font-weight: 500;
        margin-bottom: -3px;
        line-height: 22px;
        @include bp(medium) {
            font-size: 24px;
            line-height: 34px;
        }
    }
    img {
        width: 14.75px;
        height: 11.16px;
        margin-left: 4px;
        @include bp(medium) {
            width: 21px;
            height: 16px;
        }
    }

    .color-white {
        color: $FilterGreyLight;
    }
}

// .color-white {
//     color: $FilterWhite;
// }