.pitch-container {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: $FilterBlack;
    @include bp(medium) {
        height: 300px;
    }
}

.pitch-article-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 18px;
    padding-top: 24px;
    @include bp(medium) {
        top: 30px;
        flex-direction: row;
        padding-top: 28px;
        padding-right: 28px;
        padding-left: 28px;
    }
}

.pitch-article {
    margin-bottom: 16px;
    flex: 1;
    @include bp(medium) {
        padding: 20px;
        font-size: 36px;
        line-height: 40px;
    }
}

.no-margin {
    margin: 0;
}

.extra-padding-right-desktop {
    @include bp(medium) {
        padding-right: 20px;
    }
}

.pitch-title {
    color: $FilterWhite;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    @include bp(medium) {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 6px;
    }

}

.pitch-content {
    font-family: 'Harriet Text';
    color: $FilterGreyLight;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}