.swiper-container {
    background-color: transparent;
    height: 232px;
    width: 338px;
    margin-top: 4px;
    @include bp(medium) {
        width: 95%;
        max-width: 1280px;
        height: 350px;
    }
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
    @include bp(medium) {
        justify-content: center;
        align-items: center;
        font-size: 48px;
        padding: 0px;
    }
}

.quoted {
    font-size: 16px;
    font-weight: 300;
    @include bp(medium) {
        margin-top: 16px;
        font-size: 24px;
        liine-height: 33px;
    }
}

.desktop-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    font-weight: 700;
    font-size: 22px;
    width: 838px;
    height: 211px;
    font-size: 48px;
    background-image: url('/images/quote_desktop.svg');
    background-size: contain;
    background-position: 97.2% 50%;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $FilterWhite;
}

.swiper-pagination-bullet {
    background: $FilterWhite;
    @include bp(medium) {
        background: $FilterWhite;
    }
}

.mobile-slide {
    padding: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $FilterPink;
    background-image: url('/images/quote.svg');
    background-size: 120px 105px;
    background-position: 97.2% 10%;
}

.swiper-button-next {
    background-image: url('/images/arrow-right.svg');
}
.swiper-button-prev {
    background-image: url('/images/arrow-left.svg');
}