.tryFilter-container {
    width: 100%;
    padding: 18px;
    background-color: $FilterBlack;
    @include bp(medium) {
        padding: 48px;
        padding-top: 120px;
    }
}

.tryFilter-title {
    color: $FilterWhite;
    font-size: 26px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase;
    font-family: 'PF Din';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    align-self: flex-start;
    letter-spacing: 1px;
    @include bp(medium) {
        font-size: 32px;
        line-height: 44px;
    }
}

.tryFilter-header {
    p {
        color: $FilterGreyLight;
        font-family: 'Harriet Text';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        @include bp(medium) {
            margin-top: 16px;
            font-size: 24px;
            width: 577px;
            line-height: 33px;
        }
    }
    
}

.article-container {
    @include bp(medium) {
        display: flex;
        padding-bottom: 160px;
    } 
}

.tryFilter-article {
    margin-top: 28px;
    @include bp(medium) {
        flex: 1;
        margin-top: 40px;
    } 
    img {
        width: 339px;
        height: 180px;
        margin-bottom: 15px;
        @include bp(medium) {
            width: 384px;
            height: 204px;
            margin-right: 16px;
        } 
    }

    h2 {
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 4px;
        @include bp(medium) {
            font-size: 24px;   
            max-width: 384px;
        } 
    }

    p {
        color: $FilterGreyLight;
        font-family: 'Harriet Text';
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 8px;
        @include bp(medium) {
            max-width: 384px;
        } 
    }

    .author {
        font-family: 'Harriet';
        color: $FilterPink;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        .text {
            text-transform: uppercase;
            font-family: 'PF Din';
            color: $FilterPink;
            font-weight: 500;
        }
    }

}

