@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: 'Harriet';
  font-weight: 300;
  src: url("/fonts/HarrietDisplayLight.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet';
  font-weight: 500;
  src: url("/fonts/HarrietDisplayRegular.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet';
  font-weight: 700;
  src: url("/fonts/HarrietDisplayBold.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet Text';
  font-weight: 500;
  src: url("/fonts/HarrietTextRegular.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 500;
  src: url("/fonts/PfDinMedium.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 400;
  src: url("/fonts/PfDinRegular.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 300;
  src: url("/fonts/PfDinLight.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Harriet';
  color: #FAFAFA;
}

body {
  background-color: #161616;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a:link {
  color: #FAFAFA;
}

a:visited {
  color: #CECECE;
}

a:hover {
  color: #CECECE;
}

a:active {
  color: #FAFAFA;
}

.gradient-left,
.gradient-right {
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
}

@media (min-width: 768px) {
  .gradient-left,
  .gradient-right {
    display: none;
  }
}

.gradient-left {
  top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), to(#363636));
  background-image: linear-gradient(#1A1A1A, #363636);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.gradient-right {
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#1A1A1A));
  background-image: linear-gradient(#363636, #1A1A1A);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

@media (min-width: 768px) {
  .page-container {
    margin-top: 74px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.no-decor {
  text-decoration: none;
}

.pf-din {
  font-family: 'PF Din';
}

.button-fx {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.button-fx:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.button-fx:active {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
  outline: none;
}

.button-fx-mobile {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.button-fx-mobile:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.button-fx-mobile:active {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  outline: none;
}

.mt16 {
  margin-top: 16px;
}

.mt30 {
  margin-top: 30px;
}

.mb72 {
  margin-bottom: 72px;
}

.navbar {
  background-color: #1A1A1A;
  border-bottom: 2px solid #E1AB99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 5;
  }
}

.navbar-container {
  width: 100%;
  max-width: 1280px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-container {
    height: 72px;
  }
}

.logo {
  fill: white;
  width: 80px;
  height: 28px;
  margin-left: 13px;
}

@media (min-width: 768px) {
  .logo {
    width: 113px;
    height: 40px;
    margin-left: 47px;
  }
}

.log-in {
  color: #E1AB99;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .log-in {
    margin-right: 59px;
  }
}

.log-in p {
  color: #E1AB99;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -3px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .log-in p {
    font-size: 24px;
    line-height: 34px;
  }
}

.log-in img {
  width: 14.75px;
  height: 11.16px;
  margin-left: 4px;
}

@media (min-width: 768px) {
  .log-in img {
    width: 21px;
    height: 16px;
  }
}

.log-in .color-white {
  color: #CECECE;
}

.listen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listen img {
  width: 16px;
  height: 22px;
  margin-right: 6px;
}

.listen p {
  color: #E1AB99;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -3px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .listen p {
    font-size: 24px;
    line-height: 34px;
  }
}

.intro-container {
  width: 100%;
  height: 529px;
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 18px;
  padding-left: 18px;
  color: #FAFAFA;
}

@media (min-width: 768px) {
  .intro-container {
    height: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 48px;
    padding-left: 48px;
  }
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .intro-content {
    margin-top: 200px;
    margin-left: 111px;
  }
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 32px;
  margin-top: 46px;
  margin-bottom: 12px;
  line-height: 35px;
}

@media (min-width: 768px) {
  .title {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  .title {
    width: 326px;
  }
}

.intro {
  font-family: 'Harriet Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #CECECE;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

.magazine-container {
  position: relative;
  height: 254px;
  width: 340px;
  margin-top: 42px;
}

@media (min-width: 768px) {
  .magazine-container {
    width: 589px;
    height: 480px;
    margin-top: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.magazine-1,
.magazine-3 {
  position: absolute;
  bottom: 0;
  height: 228px;
  width: 160px;
  background-size: cover;
}

@media (min-width: 768px) {
  .magazine-1,
  .magazine-3 {
    width: 280px;
    height: 400px;
  }
}

.magazine-1 {
  left: 0;
  background-image: url("/images/magazine1.png");
}

.magazine-3 {
  right: 0;
  background-image: url("/images/magazine3.png");
}

.magazine-2 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 254px;
  width: 180px;
  background-image: url("/images/magazine2.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .magazine-2 {
    width: 340px;
    height: 480px;
  }
}

.testa-desktop {
  -webkit-transition: all .7s;
  transition: all .7s;
  margin-top: 24px;
  width: 383px;
  height: 48px;
  background-color: #DEC05F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testa-desktop h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .testa-desktop {
    display: none;
  }
}

.top-button {
  margin-top: 0px;
}

.library-container {
  width: 100%;
  background-color: #1A1A1A;
  padding-bottom: 16px;
}

.library {
  position: relative;
  height: 371px;
  background-image: url("/images/library.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .library {
    height: 722px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-image: url("/images/library_desktop.png");
    background-position: 50% 120%;
  }
}

@media (max-width: 768px) {
  .library {
    width: 100%;
  }
}

.library-gradient {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 371px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.8)), to(rgba(26, 26, 26, 0.2)));
  background-image: linear-gradient(to bottom, #1A1A1A, rgba(26, 26, 26, 0.8) 40%, rgba(26, 26, 26, 0.2));
}

@media (min-width: 768px) {
  .library-gradient {
    height: 722px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.85)), to(rgba(26, 26, 26, 0.2)));
    background-image: linear-gradient(to bottom, #1A1A1A 9%, rgba(26, 26, 26, 0.85) 40%, rgba(26, 26, 26, 0.2));
  }
}

.subtitle {
  text-align: center;
  margin-top: 131px;
  z-index: 1;
  font-family: 'Harriet';
  font-weight: 300;
  font-size: 26px;
  line-height: 29px;
  color: #FAFAFA;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .subtitle {
    margin-top: 89px;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
}

.testa-mobile {
  position: fixed;
  z-index: 2;
  top: 599px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 338px;
  height: 48px;
  background-color: #DEC05F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

.testa-mobile h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

@media (min-width: 768px) {
  .testa-mobile {
    display: none;
  }
}

.pitch-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .pitch-container {
    height: 300px;
  }
}

.pitch-article-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  padding: 18px;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .pitch-article-container {
    top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 28px;
    padding-right: 28px;
    padding-left: 28px;
  }
}

.pitch-article {
  margin-bottom: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .pitch-article {
    padding: 20px;
    font-size: 36px;
    line-height: 40px;
  }
}

.no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  .extra-padding-right-desktop {
    padding-right: 20px;
  }
}

.pitch-title {
  color: #FAFAFA;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
}

@media (min-width: 768px) {
  .pitch-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 6px;
  }
}

.pitch-content {
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.saidAboutFilter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1A1A1A;
  width: 100%;
  padding-bottom: 50px;
}

.saidAboutFilter-title {
  margin-top: 40px;
  padding-left: 18px;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .saidAboutFilter-title {
    font-size: 32px;
    padding-left: 48px;
  }
}

.swiper-container {
  background-color: transparent;
  height: 232px;
  width: 338px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .swiper-container {
    width: 95%;
    max-width: 1280px;
    height: 350px;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 48px;
    padding: 0px;
  }
}

.quoted {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .quoted {
    margin-top: 16px;
    font-size: 24px;
    liine-height: 33px;
  }
}

.desktop-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 22px;
  width: 838px;
  height: 211px;
  font-size: 48px;
  background-image: url("/images/quote_desktop.svg");
  background-size: contain;
  background-position: 97.2% 50%;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FAFAFA;
}

.swiper-pagination-bullet {
  background: #FAFAFA;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    background: #FAFAFA;
  }
}

.mobile-slide {
  padding: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E1AB99;
  background-image: url("/images/quote.svg");
  background-size: 120px 105px;
  background-position: 97.2% 10%;
}

.swiper-button-next {
  background-image: url("/images/arrow-right.svg");
  outline: none;
}

.swiper-button-prev {
  background-image: url("/images/arrow-left.svg");
  outline: none;
}

.subscription-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 18px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .subscription-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.subscription-title {
  position: absolute;
  margin-top: 18px;
  color: #FAFAFA;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .subscription-title {
    margin-top: 0px;
    margin-left: 48px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .outer-subtype-wrapper {
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .inner-subtype-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subtype-container {
  margin-top: 18px;
  width: 100%;
  background-color: #363636;
  padding: 16px 16px 10px 16px;
}

@media (min-width: 768px) {
  .subtype-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .subtype-desktop-left {
    padding: 24px 24px 24px 48px;
    margin-right: 16px;
  }
}

@media (min-width: 768px) {
  .subtype-desktop-right {
    padding: 24px 48px 24px 24px;
  }
}

.extra-top-margin {
  margin-top: 58px;
}

@media (min-width: 768px) {
  .extra-top-margin {
    margin-top: 18px;
  }
}

.subtype-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.subtype-title {
  color: #FAFAFA;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

@media (min-width: 768px) {
  .subtype-title {
    font-size: 48px;
    margin-bottom: 0px;
    padding-top: 16px;
  }
}

.subtype-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 0px 10px 0px;
}

@media (min-width: 768px) {
  .subtype-content {
    margin: 0px 0px 16px 0px;
  }
}

.subtype-content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .subtype-content p {
    font-size: 24px;
    max-width: 462px;
    line-height: 33px;
  }
}

.tablet {
  width: 35.35px;
  height: 40.4px;
}

@media (min-width: 768px) {
  .tablet {
    width: 70px;
    height: 80px;
  }
}

.newspaper {
  width: 44px;
  height: 29px;
}

@media (min-width: 768px) {
  .newspaper {
    width: 80px;
    height: 52px;
  }
}

.check {
  margin: 2px 10px 0px 0px;
  width: 16px;
  height: 12px;
}

@media (min-width: 768px) {
  .check {
    margin: 7px 10px 0px 0px;
    width: 21px;
    height: 16px;
  }
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px 0px 0px;
  text-align: center;
}

.price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  padding-left: 15px;
}

.price h3 {
  font-weight: 300;
  font-size: 18px;
}

@media (min-width: 768px) {
  .price h3 {
    font-size: 32px;
  }
}

.digit {
  font-size: 55px;
}

@media (min-width: 768px) {
  .digit {
    font-size: 80px;
  }
}

.select-button {
  padding-top: 5px;
  width: 143px;
  height: 40px;
  background-color: #D1201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-button h4 {
  font-family: 'PF Din';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

@media (min-width: 768px) {
  .select-button {
    margin: 7px 10px 0px 0px;
    width: 284px;
    height: 56px;
  }

  .select-button h4 {
    font-size: 32px;
  }
}

.tryFilter-container {
  width: 100%;
  padding: 18px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .tryFilter-container {
    padding: 48px;
    padding-top: 120px;
  }
}

.tryFilter-title {
  color: #FAFAFA;
  font-size: 26px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .tryFilter-title {
    font-size: 32px;
    line-height: 44px;
  }
}

.tryFilter-header p {
  color: #CECECE;
  font-family: 'Harriet Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .tryFilter-header p {
    margin-top: 16px;
    font-size: 24px;
    width: 577px;
    line-height: 33px;
  }
}

@media (min-width: 768px) {
  .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 160px;
  }
}

.tryFilter-article {
  margin-top: 28px;
}

@media (min-width: 768px) {
  .tryFilter-article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 40px;
  }
}

.tryFilter-article img {
  width: 339px;
  height: 180px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .tryFilter-article img {
    width: 384px;
    height: 204px;
    margin-right: 16px;
  }
}

.tryFilter-article h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .tryFilter-article h2 {
    font-size: 24px;
    max-width: 384px;
  }
}

.tryFilter-article p {
  color: #CECECE;
  font-family: 'Harriet Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .tryFilter-article p {
    max-width: 384px;
  }
}

.tryFilter-article .author {
  font-family: 'Harriet';
  color: #E1AB99;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.tryFilter-article .author .text {
  text-transform: uppercase;
  font-family: 'PF Din';
  color: #E1AB99;
  font-weight: 500;
}

.tryItOut-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 57px;
  background-color: #1A1A1A;
}

.tryItOut-title {
  position: absolute;
  top: 34px;
  padding-left: 18px;
  color: #FAFAFA;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

@media (min-width: 768px) {
  .tryItOut-title {
    margin-left: 48px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

.tryItOut-subtitle,
.time-span {
  margin-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .tryItOut-subtitle,
  .time-span {
    margin-left: 48px;
  }
}

.spread-sheet {
  position: relative;
  margin-top: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.column-title {
  padding-bottom: 4px;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

.column.web {
  width: 50%;
  background-color: #292929;
}

.column.magazine {
  width: 50%;
  background-color: #363636;
}

.row {
  width: 100%;
  min-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363636;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.spread-sheet-tablet,
.spread-sheet-newspaper {
  margin-bottom: 12px;
}

.spread-sheet-tablet {
  width: 19px;
  height: 21px;
}

.spread-sheet-newspaper {
  width: 32px;
  height: 21px;
}

.center-text {
  position: absolute;
  top: 112px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #FAFAFA;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 1px;
  white-space: nowrap;
}

.spread-sheet-digit {
  font-size: 28px;
  font-weight: 300;
}

.spread-cross {
  width: 24px;
}

.spread-check {
  width: 24px;
}

.spread-extra-top-padding {
  padding-top: 48px;
}

.mailbox {
  top: 202px;
}

.web-access {
  top: 291px;
}

.digital-form {
  top: 375px;
}

.no-border {
  border: none;
}

.spread-select-button {
  padding-top: 5px;
  width: 50%;
  height: 48px;
  background-color: #D1201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
}

.spread-select-button h4 {
  font-family: 'PF Din';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

.border-right {
  border-right: 1px solid #363636;
}

.border-left {
  border-left: 1px solid #363636;
}

.always-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 24px;
  padding: 18px;
  padding-top: 77px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .always-container {
    padding-left: 48px;
  }
}

.always-title {
  position: absolute;
  top: 41px;
  color: #FAFAFA;
  font-weight: 400;
  line-height: 22px;
  font-family: 'PF Din';
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .always-title {
    margin-left: 48px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

.always-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .always-content {
    margin: 0px 0px 16px 0px;
  }
}

.always-content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .always-content p {
    font-size: 24px;
    max-width: 462px;
    line-height: 33px;
  }
}

.tryItOut-gradient-top {
  top: 4px;
}

.footer {
  width: 100%;
  color: #FAFAFA;
  background-color: #1A1A1A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 48px;
}

.footer h1 {
  font-size: 29.25px;
  font-weight: 300;
  line-height: 41px;
}

@media (min-width: 768px) {
  .footer h1 {
    font-size: 48px;
    line-height: 66px;
  }
}

.footer h3 {
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

@media (min-width: 768px) {
  .footer h3 {
    font-size: 24px;
    line-height: 33px;
  }
}

@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0px;
    background-color: #161616;
    text-align: left;
  }
}

.link-container {
  margin-top: 37px;
  width: 100%;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-container a {
  font-family: 'Pf Din';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-right: 35px;
  color: #E1AB99;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #292929;
  }
}

.sign-up-container {
  padding: 40px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .sign-up-container {
    width: 70%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 78px;
  }
}

.sign-up {
  margin-top: 16px;
  width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .sign-up {
    width: 100%;
    max-width: 384px;
  }
}

.sign-up input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  padding: 4px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #292929;
  font-family: 'PF Din';
  font-weight: 500;
  font-size: 18px;
}

@media (min-width: 768px) {
  .sign-up input[type=text] {
    height: 56px;
  }
}

@media (min-width: 768px) {
  .sign-up-text-wrapper {
    width: 100%;
    max-width: 384px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.submit {
  padding-top: 4px;
  width: 120px;
  height: 40px;
  background-color: #D1201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PF Din';
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .submit {
    height: 56px;
    font-size: 32px;
  }
}

.logo-container {
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container img {
  width: 160px;
}

@media (min-width: 768px) {
  .logo-container img {
    width: 300px;
  }
}

.logo-container p {
  margin-top: 8px;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media (min-width: 768px) {
  .logo-container p {
    margin-top: -20px;
    margin-left: 58px;
  }
}

@media (min-width: 768px) {
  .logo-container {
    background-color: #292929;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 148px;
  }
}

.form-container {
  width: 100%;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container input[type=text],
.form-container input[type=number],
.form-container input[type=password] {
  margin-bottom: 16px;
  width: 100%;
  height: 48px;
  padding: 4px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #CECECE;
  background-color: #292929;
  font-family: 'PF Din';
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 768px) {
  .form-container input[type=text],
  .form-container input[type=number],
  .form-container input[type=password] {
    height: 56px;
    max-width: 584px;
  }
}

.form-container input[type=text]:focus,
.form-container input[type=number]:focus,
.form-container input[type=password]:focus {
  background-color: #CECECE;
  color: #292929;
  outline: none;
}

.checkbox-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox-container p {
  padding-left: 42px;
  padding-top: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'PF Din';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .checkbox-container p {
    font-size: 24px;
    max-width: 462px;
    line-height: 33px;
  }
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 7px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: #C8C8C8;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #CECECE;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #357B2F;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tryItOut-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 27px;
  padding-left: 18px;
  padding-right: 18px;
}

.tryItOut-title-container h2 {
  color: #FAFAFA;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

.tryItOut-title-container h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #E1AB99;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .tryItOut-title-container {
    padding-left: 66px;
    padding-right: 66px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

.tryItOut-title-img {
  margin-right: 10px;
  width: 44px;
  height: 29px;
}

.tm-24 {
  margin-top: 24px;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submit-registeration,
.discover {
  margin-top: 24px;
  width: 100%;
  height: 48px;
  padding-top: 7px;
}

.card-form-container {
  width: 100%;
  padding: 18px;
}

.card-form-container input[type=text],
.card-form-container input[type=number],
.card-form-container input[type=tel] {
  margin-bottom: 8px;
  width: 100%;
  height: 48px;
  padding: 4px 15px 4px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #CECECE;
  background-color: #292929;
  font-family: 'PF Din';
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 768px) {
  .card-form-container input[type=text],
  .card-form-container input[type=number],
  .card-form-container input[type=tel] {
    height: 56px;
  }
}

.card-form-container input[type=text]:focus,
.card-form-container input[type=number]:focus,
.card-form-container input[type=tel]:focus {
  background-color: #CECECE;
  color: #292929;
  outline: none;
}

.card-form-container input[type=text].active,
.card-form-container input[type=number].active,
.card-form-container input[type=tel].active {
  padding: 4px 15px;
}

.card-form-container input[type=text].card-number,
.card-form-container input[type=number].card-number,
.card-form-container input[type=tel].card-number {
  width: 74%;
}

.card-form-container input[type=text].month,
.card-form-container input[type=number].month,
.card-form-container input[type=tel].month {
  padding: 4px 4px;
  width: 15%;
  margin-left: -5px;
}

.card-form-container input[type=text].cvv,
.card-form-container input[type=number].cvv,
.card-form-container input[type=tel].cvv {
  padding: 4px 4px;
  width: 12%;
  margin-left: -5px;
}

.card-form-container p {
  font-size: 12px;
  font-family: 'Harriet Text';
  font-weight: 500;
  line-height: 18px;
  color: #CECECE;
  margin-bottom: 16px;
}

.position-relative {
  position: relative;
}

.card-input {
  padding-left: 30px;
}

.card-input.active {
  padding-left: 30px;
}

.card-input-img {
  position: absolute;
  top: 36px;
  left: 32px;
  width: 16px;
  height: 12px;
}

.card-image-container {
  width: 100%;
}

.card-img {
  width: 49px;
  height: 32px;
  margin-right: 6px;
}

.time-span {
  padding: 0;
  margin-top: 32px;
}

.no-magazine-container {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  height: 72px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-magazine-container img {
  width: 35px;
  height: 40px;
  margin-left: 21px;
}

.no-magazine-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-magazine-content h3 {
  font-family: 'PF Din';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #E1AB99;
}

.no-magazine-content p {
  font-size: 12px;
  font-family: 'Harriet Text';
  font-weight: 500;
  line-height: 18px;
  color: #CECECE;
  margin-bottom: 0px;
  margin-top: 4px;
}

.discover-container {
  padding: 18px;
}

.discover-container h3 {
  margin-top: 40px;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.discover {
  background-color: #D1201E;
  height: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover h2 {
  font-family: 'PF Din';
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.discover-article {
  padding-top: 6px;
  padding-bottom: 24px;
}

.discover-article img {
  width: 100%;
  height: 180px;
}

.discover-article h2 {
  padding-top: 18px;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 4px;
  line-height: 25px;
}

.discover-article p {
  color: #CECECE;
  font-family: 'Harriet Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.discover-article .author {
  margin-top: 8px;
  font-family: 'Harriet';
  color: #E1AB99;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.discover-article .author .text {
  text-transform: uppercase;
  font-family: 'PF Din';
  color: #E1AB99;
  font-weight: 500;
}

.samplearticle-container {
  width: 100%;
}

.samplearticle-header img {
  width: 100%;
  height: 232px;
}

.samplearticle-divider {
  padding: 0px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
}

.samplearticle-divider p {
  color: #E1AB99;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -3px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .samplearticle-divider p {
    font-size: 24px;
    line-height: 34px;
  }
}

.samplearticle-content {
  position: relative;
  padding-top: 32px;
  background-color: #FCFCF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.samplearticle-content .bookmark {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 18px;
  height: 24px;
}

.samplearticle-content .article-image {
  margin-left: 1px;
  margin-bottom: -1px;
  width: 100%;
}

.samplearticle-content .article-image.negative-bm {
  margin-bottom: -150px;
}

.subscribe-container {
  background-color: #1A1A1A;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-wrapper {
  width: 100%;
  padding: 18px;
  padding-bottom: 0px;
}

.subscribe-title {
  color: #FAFAFA;
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
}

@media (min-width: 768px) {
  .subscribe-title {
    margin-left: 48px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

.subscribe-subtitle {
  margin-top: 8px;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .subscribe-subtitle {
    margin-left: 48px;
  }
}

.magazine-container.mobile.subscribe {
  margin-top: 16px;
}

.subscribe-library {
  position: relative;
  height: 188px;
  background-image: url("/images/library.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 375px;
  margin-left: -18px;
  margin-right: -18px;
}

.subscribe-gradient {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 188px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.8)), to(rgba(26, 26, 26, 0.2)));
  background-image: linear-gradient(to bottom, #1A1A1A, rgba(26, 26, 26, 0.8) 40%, rgba(26, 26, 26, 0.2));
}

@media (min-width: 768px) {
  .subscribe-gradient {
    height: 722px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.85)), to(rgba(26, 26, 26, 0.2)));
    background-image: linear-gradient(to bottom, #1A1A1A 9%, rgba(26, 26, 26, 0.85) 40%, rgba(26, 26, 26, 0.2));
  }
}

.subscribe-library-subtitle {
  text-align: center;
  margin-bottom: 39px;
  z-index: 1;
  font-family: 'Harriet';
  font-weight: 300;
  font-size: 26px;
  line-height: 29px;
  color: #FAFAFA;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .subscribe-library-subtitle {
    margin-top: 89px;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
}

.always-container.no-margin {
  margin: 0;
}

.testa-mobile-static {
  width: 338px;
  height: 48px;
  background-color: #DEC05F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testa-mobile-static h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

@media (min-width: 768px) {
  .testa-mobile-static {
    display: none;
  }
}

.samplearticle-footer {
  width: 100%;
  height: 194px;
  background-color: #FCFCF9;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.samplearticle-footer .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px;
}

.samplearticle-footer h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

.samplearticle-footer img {
  width: 32px;
  height: 32px;
}

.samplearticle-footer img.margin-right {
  margin-right: 24px;
}

.payWall-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.want-more {
  width: 100%;
  margin-top: -1px;
  height: 52px;
  background-color: #FCFCF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.want-more h3 {
  text-align: center;
  color: #D1201E;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -3px;
  line-height: 22px;
}

.payWall-gradient {
  position: absolute;
  width: 100%;
  height: 300px;
  top: -300px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FCFCF9), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #FCFCF9, rgba(255, 255, 255, 0));
}

.payWall-content {
  width: 100%;
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payWall-header {
  padding: 18px;
  padding-bottom: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.payWall-header h3 {
  text-align: left;
  color: #FAFAFA;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 400;
  margin-bottom: -4px;
  line-height: 18px;
}

.payWall-header img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.payWall-header .wrapper {
  width: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-container.payWall {
  padding-top: 10px;
}

.no-tm {
  margin-top: 0px;
}

@media (min-width: 768px) {
  #hamburger {
    display: none;
  }
}

.hamburger-container {
  width: 100%;
}

.hamburger-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger-button .bar {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 2px;
  width: 24px;
  height: 3px;
  background-color: #E1AB99;
}

.hamburger-button.active {
  position: fixed;
}

.hamburger-button.active .bar.top {
  background-color: #1A1A1A;
  -webkit-transform: rotate(-135deg) translate(-5px, -5px);
          transform: rotate(-135deg) translate(-5px, -5px);
}

.hamburger-button.active .bar.mid {
  opacity: 0;
  -webkit-transform: translate(25px, 0px);
          transform: translate(25px, 0px);
  background-color: #1A1A1A;
}

.hamburger-button.active .bar.bot {
  background-color: #1A1A1A;
  -webkit-transform: rotate(135deg) translate(-5px, 5px);
          transform: rotate(135deg) translate(-5px, 5px);
}

.hamburger-menu {
  -webkit-transition: all .4s;
  transition: all .4s;
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 100vh;
  background-color: #E1AB99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  padding-top: 38px;
}

.hamburger-menu.active {
  width: 272px;
  padding-left: 32px;
}

.hamburger-menu a {
  font-family: 'Pf Din';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  margin-top: 32px;
  color: #1A1A1A;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger-menu a img {
  margin-left: 4px;
  margin-bottom: 4px;
  width: 16px;
  height: 12px;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.ghost {
  opacity: 0;
  pointer-events: none;
}

