@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: 'Harriet';
  font-weight: 300;
  src: url("/fonts/HarrietDisplayLight.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet';
  font-weight: 500;
  src: url("/fonts/HarrietDisplayRegular.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet';
  font-weight: 700;
  src: url("/fonts/HarrietDisplayBold.otf") format("opentype");
}

@font-face {
  font-family: 'Harriet Text';
  font-weight: 500;
  src: url("/fonts/HarrietTextRegular.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 500;
  src: url("/fonts/PfDinMedium.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 400;
  src: url("/fonts/PfDinRegular.otf") format("opentype");
}

@font-face {
  font-family: 'PF Din';
  font-weight: 300;
  src: url("/fonts/PfDinLight.otf") format("opentype");
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Harriet';
  color: #FAFAFA;
}

body {
  background-color: #161616;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.gradient-left,
.gradient-right {
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
}

@media (min-width: 768px) {
  .gradient-left,
  .gradient-right {
    display: none;
  }
}

.gradient-left {
  top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), to(#363636));
  background-image: linear-gradient(#1A1A1A, #363636);
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.gradient-right {
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#363636), to(#1A1A1A));
  background-image: linear-gradient(#363636, #1A1A1A);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#app {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.navbar {
  background-color: #1A1A1A;
  border-bottom: 2px solid #E1AB99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 5;
  }
}

.navbar-container {
  width: 100%;
  max-width: 1280px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .navbar-container {
    height: 72px;
  }
}

.logo {
  fill: white;
  width: 80px;
  height: 28px;
  margin-left: 13px;
}

@media (min-width: 768px) {
  .logo {
    width: 113px;
    height: 40px;
    margin-left: 47px;
  }
}

.log-in {
  color: #E1AB99;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .log-in {
    margin-right: 59px;
  }
}

.log-in p {
  color: #E1AB99;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -3px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .log-in p {
    font-size: 24px;
    line-height: 34px;
  }
}

.log-in img {
  width: 14.75px;
  height: 11.16px;
  margin-left: 4px;
}

@media (min-width: 768px) {
  .log-in img {
    width: 21px;
    height: 16px;
  }
}

.intro-container {
  width: 100%;
  height: 529px;
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 18px;
  padding-left: 18px;
  color: #FAFAFA;
}

@media (min-width: 768px) {
  .intro-container {
    height: 600px;
    margin-top: 48px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 48px;
    padding-left: 48px;
  }
}

.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .intro-content {
    margin-top: 200px;
    margin-left: 111px;
  }
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: 32px;
  margin-top: 46px;
  margin-bottom: 12px;
  line-height: 35px;
}

@media (min-width: 768px) {
  .title {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 768px) {
  .title {
    width: 326px;
  }
}

.intro {
  font-family: 'Harriet Text';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #CECECE;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

.magazine-container {
  position: relative;
  height: 254px;
  width: 340px;
  margin-top: 42px;
}

@media (min-width: 768px) {
  .magazine-container {
    width: 589px;
    height: 480px;
    margin-top: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.magazine-1,
.magazine-3 {
  position: absolute;
  bottom: 0;
  height: 228px;
  width: 160px;
  background-size: cover;
}

@media (min-width: 768px) {
  .magazine-1,
  .magazine-3 {
    width: 280px;
    height: 400px;
  }
}

.magazine-1 {
  left: 0;
  background-image: url("/images/magazine1.png");
}

.magazine-3 {
  right: 0;
  background-image: url("/images/magazine3.png");
}

.magazine-2 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 254px;
  width: 180px;
  background-image: url("/images/magazine2.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .magazine-2 {
    width: 340px;
    height: 480px;
  }
}

.testa-desktop {
  margin-top: 24px;
  width: 383px;
  height: 48px;
  background-color: #DEC05F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testa-desktop h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

@media (max-width: 768px) {
  .testa-desktop {
    display: none;
  }
}

.library-container {
  width: 100%;
  background-color: #1A1A1A;
  padding-bottom: 16px;
}

.library {
  position: relative;
  height: 371px;
  background-image: url("/images/library.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .library {
    height: 722px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-image: url("/images/library_desktop.png");
    background-position: 50% 120%;
  }
}

@media (max-width: 768px) {
  .library {
    width: 100%;
  }
}

.library-gradient {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 371px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.8)), to(rgba(26, 26, 26, 0.2)));
  background-image: linear-gradient(to bottom, #1A1A1A, rgba(26, 26, 26, 0.8) 40%, rgba(26, 26, 26, 0.2));
}

@media (min-width: 768px) {
  .library-gradient {
    height: 722px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(9%, #1A1A1A), color-stop(40%, rgba(26, 26, 26, 0.85)), to(rgba(26, 26, 26, 0.2)));
    background-image: linear-gradient(to bottom, #1A1A1A 9%, rgba(26, 26, 26, 0.85) 40%, rgba(26, 26, 26, 0.2));
  }
}

.subtitle {
  text-align: center;
  margin-top: 131px;
  z-index: 1;
  font-family: 'Harriet';
  font-weight: 300;
  font-size: 26px;
  line-height: 29px;
  color: #FAFAFA;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .subtitle {
    margin-top: 89px;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }
}

.testa-mobile {
  position: fixed;
  z-index: 2;
  top: 599px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 338px;
  height: 48px;
  background-color: #DEC05F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testa-mobile h3 {
  font-family: 'PF Din';
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

@media (min-width: 768px) {
  .testa-mobile {
    display: none;
  }
}

.pitch-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .pitch-container {
    height: 300px;
  }
}

.pitch-article-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  padding: 18px;
  padding-top: 24px;
}

@media (min-width: 768px) {
  .pitch-article-container {
    top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 28px;
    padding-right: 28px;
    padding-left: 28px;
  }
}

.pitch-article {
  margin-bottom: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .pitch-article {
    padding: 20px;
    font-size: 36px;
    line-height: 40px;
  }
}

.no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  .extra-padding-right-desktop {
    padding-right: 20px;
  }
}

.pitch-title {
  color: #FAFAFA;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
}

@media (min-width: 768px) {
  .pitch-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 6px;
  }
}

.pitch-content {
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.saidAboutFilter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1A1A1A;
  width: 100%;
  padding-bottom: 50px;
}

.saidAboutFilter-title {
  margin-top: 40px;
  padding-left: 18px;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .saidAboutFilter-title {
    font-size: 32px;
    padding-left: 48px;
  }
}

.swiper-container {
  width: 338px;
  height: 193px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .swiper-container {
    width: 95%;
    max-width: 1280px;
    height: 350px;
  }
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #E1AB99;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .slide {
    background-color: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 48px;
    padding: 0px;
  }
}

.quoted {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .quoted {
    margin-top: 16px;
    font-size: 24px;
    liine-height: 33px;
  }
}

.desktop-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  font-weight: 700;
  font-size: 22px;
  width: 838px;
  height: 211px;
  font-size: 48px;
  background-image: url("/images/quote_desktop.svg");
  background-size: contain;
  background-position: 97.2% 50%;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FAFAFA;
}

@media (min-width: 768px) {
  .swiper-pagination-bullet {
    background: #FAFAFA;
  }
}

.subscription-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 18px;
  background-color: #1A1A1A;
}

@media (min-width: 768px) {
  .subscription-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.subscription-title {
  position: absolute;
  margin-top: 18px;
  color: #FAFAFA;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .subscription-title {
    margin-top: 0px;
    margin-left: 48px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .subtype-wrapper {
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subtype-container {
  margin-top: 18px;
  width: 100%;
  background-color: #363636;
  padding: 16px 16px 10px 16px;
}

@media (min-width: 768px) {
  .subtype-desktop-left {
    padding: 16px 16px 10px 48px;
    margin-right: 16px;
  }
}

.extra-top-margin {
  margin-top: 58px;
}

@media (min-width: 768px) {
  .extra-top-margin {
    margin-top: 18px;
  }
}

.subtype-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subtype-title {
  color: #FAFAFA;
  font-size: 26px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
}

.subtype-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 0px 10px 0px;
}

.subtype-content p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.tablet {
  width: 35.35px;
  height: 40.4px;
}

.newspaper {
  width: 44px;
  height: 29px;
}

.check {
  margin: 2px 10px 0px 0px;
  width: 16px;
  height: 12px;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px 0px 0px;
  text-align: center;
}

.price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  padding-left: 15px;
}

.price h3 {
  font-weight: 300;
  font-size: 18px;
}

.digit {
  font-size: 55px;
}

.select-button {
  padding-top: 5px;
  width: 143px;
  height: 40px;
  background-color: #D1201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-button h4 {
  font-family: 'PF Din';
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
}

.tryFilter-container {
  width: 100%;
  padding: 18px;
  background-color: #1A1A1A;
}

.tryFilter-title {
  color: #FAFAFA;
  font-size: 26px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  font-family: 'PF Din';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  letter-spacing: 1px;
}

.tryFilter-header p {
  color: #CECECE;
  font-family: 'Harriet Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 768px) {
  .article-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.tryFilter-article {
  margin-top: 28px;
}

@media (min-width: 768px) {
  .tryFilter-article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.tryFilter-article img {
  width: 339px;
  height: 180px;
  margin-bottom: 15px;
}

.tryFilter-article h2 {
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 4px;
}

.tryFilter-article p {
  color: #CECECE;
  font-family: 'Harriet Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
}

.tryFilter-article .author {
  font-family: 'Harriet';
  color: #E1AB99;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.tryFilter-article .author .text {
  text-transform: uppercase;
  font-family: 'PF Din';
  color: #E1AB99;
  font-weight: 500;
}

.footer {
  width: 100%;
  color: #FAFAFA;
  background-color: #1A1A1A;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 48px;
}

.footer h1 {
  font-size: 29.25px;
  font-weight: 300;
  line-height: 41px;
}

.footer h3 {
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.sign-up-container {
  padding: 40px;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up {
  margin-top: 16px;
  width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit {
  padding-top: 4px;
  width: 120px;
  height: 40px;
  background-color: #D1201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'PF Din';
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}

input[type=text] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  padding: 4px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  color: #292929;
  font-family: 'PF Din';
  font-weight: 500;
  font-size: 18px;
}

.logo-container {
  padding: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container img {
  width: 160px;
}

.logo-container p {
  margin-top: 8px;
  font-family: 'Harriet Text';
  color: #CECECE;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

